.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  color: white;
}

.feedback-container .feedback-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 80%;
  max-width: 500px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid white;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  margin: 8px;
}

.feedback-container h1 {
  margin-bottom: 20px;
}

.feedback-container p {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.feedback-container button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.feedback-container button:hover {
  background-color: #45a049;
}

.feedback-container button:not(:last-child) {
  margin-bottom: 10px;
}