.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.game-question {
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 500px;
  box-sizing: border-box;
  color: #fff;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-category {
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

[data-testid="question-text"] {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.answer-options {
  width: 100%;
}

.answer-options button {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

[data-testid="answer-options"] button.green {
  background-color: #4CAF50;
}

[data-testid="answer-options"] button.red {
  background-color: #F44336;
}

.timer {
  font-size: 24px;
  color: white;
}

[data-testid="btn-next"] {
  color: black;
  padding: 10px 20px;
  margin: 20px auto 0;
  display: block;
  width: max-content;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
}

[data-testid="btn-next"]:hover {
  background-color: yellowgreen;
}

[data-testid="answer-options"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-testid="answer-options"] button {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
}

[data-testid="answer-options"] button:hover {
  background-color: yellowgreen;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 60%;
  }

  .game-question {
    height: 400px;
  }

  .answer-options button {
    width: 200px;
  }
}