.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.game-question {
  align-items: center;
  background-color: darkblue;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  margin: 8px;
  padding: 24px;
}

.game-question .question-category {
  border-bottom: 1px solid aquamarine;
  font-size: xx-large;
  font-weight: 600;
  text-align: center;
}

.game-question button {
  border-radius: 8px;
  border-width: 3px;
  min-width: 64px;
  padding: 4px;
  transition: background-color 0.3s ease;
}

.game-question button:disabled {
  background-color: white;
}

.game-question button:hover:enabled {
  background-color: aqua;
  border: 3px solid rebeccapurple;
}

.green {
  border-color: rgb(6, 240, 15);
  border-style: solid;
  border-width: 3px;
}

.red {
  border-color: red;
  border-style: solid;
  border-width: 3px;
}

.container .timer {
  color: white;
}

@media only screen and ( min-width : 768px ) {

  .game-question {
    height: 400px;
    width: 600px;
  }
}
