.container-page-ranking {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.container-page-ranking .ranking-title {
  color: white;
}

.container-users-ranking {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

.container-user {
  align-items: center;
  background-color: rgb(255, 251, 251);
  border: 2px solid rgba(99, 95, 95, 0.211);
  border-radius: 40px;
  box-shadow: 6px 3px 3px rgb(202, 198, 198);
  display: flex;
  margin: 7px 0;
  max-width: 220px;
  min-height: 40px;
  width: 100%;
}

.img-user {
  aspect-ratio: 1/1;
  border-radius: 50%;
  height: 56px;
  margin-right: auto;
  padding: 5px;
}

.name-score-user {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
}

.score-user {
  color: rgb(50, 117, 233);
  font-size: large;
  font-weight: 800;
}

.pts {
  font-size: medium;
  margin-left: 3px;
}

.ranking-btn {
  background-color: #16eb9d;
  border: 1.5px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-family: Gill Sans , Gill Sans MT , Calibri , Trebuchet MS , sans-serif;
  font-weight: 700;
  height: 30px;
  margin-top: 20px;
  width: 180px;
}

.ranking-btn:hover {
  background-color: #05ffff;
  border: none;
}
