.container-page-ranking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: url('../images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: white;
}

.ranking-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.ranking-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.ranking-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ranking-btn:hover {
  background-color: #45a049;
}

.container-users-ranking {
  width: 100%;
  overflow-y: auto;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-user {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 35px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  max-width: 500px;
}


.container-user:hover {
  transform: translateY(+5px);
}

.img-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.name-score-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name-score-user span {
  font-size: 16px;
  color: #333;
}

.score-user {
  display: flex;
  align-items: center;
}

.pts {
  margin-left: 5px;
  font-size: 14px;
  color: #999;
}