.header {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--main-bg-color);
  color: #fff;
  z-index: 100;
}

header img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

header p {
  font-size: 18px;
}