header {
  align-items: center;
  background-color: darkblue;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  color: white;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  padding: 10px 20px;
}

header img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

header p {
  font-size: 18px;
}
